<button
  (click)="generateExcel()"
  style="
    padding: 10px;
    background-color: azure;
    margin-bottom: 20px;
    border-radius: 10px;
  "
>
  EXPORT: Hole Sections && Casing Design
</button>
<br />
<button
  (click)="generateExcel2()"
  style="padding: 10px; background-color: aquamarine; border-radius: 10px"
>
  EXPORT: Conversion Factor
</button>
<img src="../assets/t1.png" alt="" style="width: 95vw" />
<img src="../assets/t2.png" alt="" style="width: 95vw" />
<img src="../assets/t3.png" alt="" style="width: 95vw" />

<h3>white: ffffff</h3>
<h3>gray0: f4f4f4</h3>
<h3>gray1: d1d1d1</h3>
<h3>text0: 333333</h3>
<h3>border: 858585</h3>
<h3>pink0: eebabe</h3>
<h3>turquoise: 579497</h3>
